@{
}

@model Purchase

<h2>Check Out Now</h2>

<p>Please enter the necessary information. Thanks!</p>

<form method="post">

    <h4>Ship To:</h4>

    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <h4>Address:</h4>

    <div class="form-group">
        <label asp-for="AddressLine1">AddressLine1:</label>
        <input asp-for="AddressLine1" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AddressLine2">AddressLine2:</label>
        <input asp-for="AddressLine2" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AddressLine3">AddressLine3:</label>
        <input asp-for="AddressLine3" class="form-control" />
    </div>

    <h4>City:</h4>

    <div class="form-group">
        <label asp-for="City">City:</label>
        <input asp-for="City" class="form-control" />
    </div>

    <h4>State:</h4>

    <div class="form-group">
        <label asp-for="State">State:</label>
        <input asp-for="State" class="form-control" />
    </div>

    <h4>Zipcode:</h4>

    <div class="form-group">
        <label asp-for="Zipcode">Zipcode:</label>
        <input asp-for="Zipcode" class="form-control" />
    </div>

    <h4>Country:</h4>

    <div class="form-group">
        <label asp-for="Country">Country:</label>
        <input asp-for="Country" class="form-control" />
    </div>

    <div class="checkbox">
        <label>
            <input asp-for="Anonymous" /> Purchase Anonymous
        </label>
    </div>

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Send Purchase" />
    </div>
</form>